.book {
    display: grid;
    grid-template-columns: 360px auto; /* Fixed width for carousel, remaining space for synopsis */
    column-gap: 20px; /* Add some space between the carousel and synopsis */
    margin: 80px 150px 0px 150px;
    text-align: center;
}
.image{
width:360px;
height:550px;
}
.crsl {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.synopsis {
    width: 460px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    word-spacing: 0.04em; /* Adjust this value as needed */
}

.outnow{
  margin-top: 30px;
  text-align: center;
  font-style: italic;
}

.buttonholder{
    margin-top: 30px;
    text-align: center;
}

.topcomment{
    text-align: center;
}

.buyedition{
    outline: none;
    border: 1px solid rgb(50, 49, 49);
    font-family: 'CustomFont';
    font-size: 16px;
    margin: 15px;
    padding: 9px;
color: white;
background-color: rgb(50, 49, 49);
}

.buyedition:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
    
}





