

.Home {
    background-color: #ffffff;
    text-align: center; /* Center aligns children horizontally */
    padding: 2px 0; /* Adding vertical padding to space things out */
}

.Home h1 {
    font-size: 3.5rem;
    color: #333333;
    font-family: 'CustomFont';
    letter-spacing: 0.75rem;
    padding-top: 17px; 
}

img {
    width: 493px;
    height: 428px;
    display: block; /* To center using margin: auto */
    margin: auto;
}

section {
    width: 47%;
    margin: 0 auto; /* To center using margin: auto */
    padding: 50px;
    font-family: 'CustomFont';
    font-size: 16px;
    color: #333333;
    line-height: 30px;
    text-align: justify;
    letter-spacing: 0.5px;
}