@font-face {
    font-family: 'CustomFont'; 
    src: url('../Fonts/FontsFree-Net-Avenir-Light.ttf') format('truetype'); 
  }


  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-family: 'CustomFont';
    font-size: 17px;
    margin-top: 30px;
}

/* Apply styling to the links */
.navbar a {
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Inherit the text color from the parent */
    font-weight: bold; /* Apply bold font to the links */
    padding-right: 50px;
    padding-left: 50px;
}

